.Navbar {
    background: #FAFAFA !important;
    letter-spacing: 0.16rem;
}

.Navbar a {
    text-transform: uppercase !important;
}

.mobile-menu .item {
    text-transform: uppercase !important;
    letter-spacing: 0.22rem !important;
}